.footer {
  background: #fffbf7;
}

.footer-end-title {
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e7d8c7;
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #2b2a28;
  opacity: 0.7;
}

.footer-section__info-list {
  margin: 0;
  max-width: 620px;
  background: #3d1e19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}
.footer-section__info-list-item {
  padding: 25px 60px 25px 60px;
  border-right: 1px dashed #e5ebf2;
}
.footer-section__info-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.footer-section__nav-list {
  margin: 0;
}
.footer-section__nav-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.footer-info__flex-list-info {
  list-style: none;
  padding: 0;
  margin-right: 54px;
}
.footer-info__flex-list-info-item {
  margin-bottom: 10px;
}
.footer-info__flex-list-info-item > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #2b2a28;
}
.footer-info__flex-logo-page {
  margin-left: 60px;
}
.footer-info__flex-social-links-target {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.footer-info__flex-social-links-icons {
  margin-top: 10px;
}
.footer-info__flex-phone-number-text-1 {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: right;
  color: #2b2a28;
  text-decoration: none;
}
.footer-info__flex-phone-number-text-2 {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
  text-decoration: none;
}

.header {
  background: #fffbf7;
  min-height: 220px;
  padding-bottom: 37px;
}

.navigation__text {
  max-width: 255px;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__social-links-text {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__phone-number {
  margin-left: 40px;
}
.navigation__phone-number-text:nth-child(1) {
  display: block;
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: right;
  color: #2b2a28;
}
.navigation__phone-number-text:nth-child(2) {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__order-btn {
  display: block;
  padding: 16px 25px 12px 25px;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.navigation__order-text {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__language {
  margin-left: 25px;
  margin-bottom: 20px;
}
.navigation__language img {
  vertical-align: middle;
  padding-left: 6px;
}

.nav-menu__info-list {
  max-width: 620px;
  background: #3d1e19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}
.nav-menu__info-list-item {
  padding: 25px 60px 25px 60px;
  border-right: 1px dashed #e5ebf2;
}
.nav-menu__info-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.nav-menu__nav-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #2b2a28;
}

.section-catalog-houses {
  padding-bottom: 145px;
}
.section-catalog-houses__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #828282;
}
.section-catalog-houses__page-search-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  color: #2b2a28;
}
.section-catalog-houses__page-search-input-data {
  position: relative;
  width: 472px;
  padding-bottom: 14px;
  border-bottom: 1px solid #828282;
}
.section-catalog-houses__page-search-input-data-btn {
  position: absolute;
  border: none;
  background: none;
  left: 20px;
}
.section-catalog-houses__page-search-input-data-input {
  width: 100%;
  padding: 6px 123px 6px 48px;
  border: none;
  outline: none;
  margin-left: 15px;
}
.section-catalog-houses__catalogs-accordion-active {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}
.section-catalog-houses__catalogs-accordion-active-title {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #2b2a28;
}
.section-catalog-houses__catalogs-lists {
  list-style: none;
  padding-left: 0;
}
.section-catalog-houses__catalogs-lists-item {
  margin-bottom: 10px;
}
.section-catalog-houses__catalogs-lists-item > a {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #2b2a28;
}
.section-catalog-houses__catalogs-lists-item > a:hover {
  color: #CB8734;
}
.section-catalog-houses__catalogs-lists-item > a > img {
  padding-right: 15px;
  vertical-align: middle;
}
.section-catalog-houses__catalogs-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-catalog-houses__catalogs-progress > span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #2b2a28;
}
.section-catalog-houses__catalogs-progress > span:nth-child(2) {
  color: #2b2a28;
  font-weight: bold;
}
.section-catalog-houses__card-groups {
  overflow: hidden;
}
.section-catalog-houses__card-groups-item {
  min-height: 397px;
  padding: 0.3rem;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px !important;
  border: none !important;
  transition: 0.5s ease;
}
.section-catalog-houses__card-groups-item:hover {
  transform: scale(1.1);
  cursor: pointer;
  position: absolute;
  z-index: 200;
}
.section-catalog-houses__card-groups-item:hover .section-catalog-houses__card-groups-item-btn-group {
  width: 100%;
  flex-direction: column-reverse;
  transition: width 0.5s ease;
}
.section-catalog-houses__card-groups-item-area-txt {
  font-style: normal;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #2b2a28;
}
.section-catalog-houses__card-groups-item-btn-group {
  transition: width 0.5s ease;
}
.section-catalog-houses__card-groups-item-btn-group-btn {
  padding: 15px 15px 13px 18px;
  font-style: normal;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}
.section-catalog-houses__card-groups-item-btn-group-btn-active {
  padding: 15px 15px 13px 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #2b2a28;
  background: #fffbf7;
  border-radius: 4px;
}
.section-catalog-houses__flex {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
  padding: 0.3rem;
}
.section-catalog-houses__flex-left {
  width: 396px;
}
.section-catalog-houses__flex-left-block {
  width: 100%;
  padding-top: 58px;
  margin-left: 54px;
}
.section-catalog-houses__flex-left-block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #2b2a28;
}
.section-catalog-houses__flex-left-block-subtitle {
  width: 316px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #2b2a28;
}
.section-catalog-houses__flex-right > img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-catalog-houses__link-end {
  display: block;
  padding: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2a28;
  background: #fffbf7;
  border-radius: 8px;
}
.section-catalog-houses__link-end > img {
  vertical-align: middle;
  padding-right: 12px;
}

.section-catalog-houses__flex-left-block-btn {
  display: inline-block;
  padding: 26px 45px 20px 45px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

.footer-section__link {
  display: inline-block;
  padding: 16px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraBold.otf), url(../fonts/Gilroy-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: sans-serif;
}

.container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=catalog-page.css.map */