@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraBold.otf), url(../fonts/Gilroy-Light.otf);
}
.footer {
  background: #fffbf7;
}

.footer-end-title {
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E7D8C7;
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #2b2a28;
  opacity: 0.7;
}

.footer-section__info-list {
  margin: 0;
  max-width: 620px;
  background: #3d1e19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}
.footer-section__info-list-item {
  padding: 25px 60px 25px 60px;
  border-right: 1px dashed #e5ebf2;
}
.footer-section__info-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.footer-section__nav-list {
  margin: 0;
}
.footer-section__nav-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.footer-info__flex-list-info {
  list-style: none;
  padding: 0;
  margin-right: 54px;
}
.footer-info__flex-list-info-item {
  margin-bottom: 10px;
}
.footer-info__flex-list-info-item > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #2b2a28;
}
.footer-info__flex-logo-page {
  margin-left: 60px;
}
.footer-info__flex-social-links-target {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.footer-info__flex-social-links-icons {
  margin-top: 10px;
}
.footer-info__flex-phone-number-text-1 {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: right;
  color: #2b2a28;
  text-decoration: none;
}
.footer-info__flex-phone-number-text-2 {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
  text-decoration: none;
}

.header {
  background: #fffbf7;
  min-height: 970px;
}

.navigation__text {
  max-width: 255px;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__social-links-text {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__phone-number {
  margin-left: 40px;
}
.navigation__phone-number-text:nth-child(1) {
  display: block;
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: right;
  color: #2b2a28;
}
.navigation__phone-number-text:nth-child(2) {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__order-btn {
  display: block;
  padding: 16px 25px 12px 25px;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.navigation__order-text {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #2b2a28;
}
.navigation__language {
  margin-left: 25px;
  margin-bottom: 20px;
}
.navigation__language img {
  vertical-align: middle;
  padding-left: 6px;
}

.nav-menu__info-list {
  max-width: 620px;
  background: #3d1e19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}
.nav-menu__info-list-item {
  padding: 25px 60px 25px 60px;
  border-right: 1px dashed #e5ebf2;
}
.nav-menu__info-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.nav-menu__nav-list-item > a {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #2b2a28;
}

.wrapper-header {
  padding-top: 40px;
  max-height: 970px;
  background: #fffbf7;
}

.section-hero__flex-left-page {
  margin-top: 120px;
}
.section-hero__flex-left-page-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
  color: #2b2a28;
}
.section-hero__flex-left-page-subtitle {
  max-width: 502px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2b2a28;
}
.section-hero__flex-left-page-catalog-circle {
  cursor: pointer;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  border: 1.5px solid #cb8734;
}
.section-hero__flex-left-page-catalog-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #cb8734;
}
.section-hero__img {
  background-image: url(../assets/house.png);
  min-height: 506px;
  background-repeat: no-repeat;
  background-position-x: 30px;
}

.section-services {
  position: relative;
  margin-top: -219px;
}
.section-services__flex {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
  margin-top: 74px;
}
.section-services__flex-h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  color: #2b2a28;
}
.section-services__flex-col-title {
  margin-top: 21px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}
.section-services__flex-col-title > span {
  display: block;
  margin-top: 7px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: black;
}
.section-services__flex-col-title-extra-0 {
  max-width: 171px;
}
.section-services__flex-col-title-extra-1 {
  max-width: 220px;
}
.section-services__flex-col-title-extra-2 {
  max-width: 236px;
}
.section-services__flex-col-title-extra-3 {
  max-width: 261px;
}

.section-projects {
  background-image: url(../assets/background-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section-projects__flex {
  margin-top: 145px;
}
.section-projects__flex-card-group {
  max-width: 780px;
}
.section-projects__flex-card-group-active {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px !important;
}
.section-projects__flex-card-group-active-link-circle {
  cursor: pointer;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  border: 1.5px solid #cb8734;
}
.section-projects__flex-card-group-active-link-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #cb8734;
}
.section-projects__flex-card-group-active-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #2b2a28;
}
.section-projects__flex-card-group-active-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #2b2a28;
}

.section-production {
  background: #fffbf7;
  margin-top: 145px;
  padding-bottom: 145px;
}
.section-production__flex {
  margin-top: 145px;
  max-width: 1170px;
}
.section-production__flex-item {
  min-height: 384px;
  position: relative;
  padding: 42px 39px 50px 46px;
  background: #ffffff;
  border-radius: 8px;
}
.section-production__flex-item-img-numbers {
  position: absolute;
  right: 10px;
  bottom: 30px;
}
.section-production__flex-item > img {
  position: absolute;
}
.section-production__flex-item-img-1 {
  top: -60px;
  right: -5px;
}
.section-production__flex-item-img-2 {
  top: -60px;
  right: 10px;
}
.section-production__flex-item-img-3 {
  top: -15px;
  right: 25px;
}
.section-production__flex-item-img-4 {
  top: -55px;
  right: 10px;
}
.section-production__flex-item-title {
  max-width: 372px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #2b2a28;
}
.section-production__flex-item-subtitle {
  margin-top: 25px;
  max-width: 485px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #2b2a28;
}
.section-production__flex-title {
  max-width: 392px;
  margin-bottom: 58px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2b2a28;
}
.section-production__flex-banner-content-link-circle {
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  border: 1.5px solid #cb8734;
}

.section-our-company {
  padding-bottom: 147px;
  background-image: url(../assets/map-1.png), url(../assets/map-2.png);
  background-position: right top, left bottom;
  background-size: 33%;
  background-repeat: no-repeat;
}
.section-our-company__info-page {
  margin-top: 145px;
  position: relative;
}
.section-our-company__info-page-director {
  position: relative;
  min-height: 420px;
  background-repeat: no-repeat;
  background-image: url(../assets/fon-director.png);
}
.section-our-company__info-page-director-info-flex {
  max-width: 570px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 324px;
  padding: 38px 51px 35px 43px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}
.section-our-company__info-page-director-info-flex-block-title {
  max-width: 400px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #2b2a28;
}
.section-our-company__info-page-director-info-flex-block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #2b2a28;
}
.section-our-company__info-page-title {
  margin-bottom: 67px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2b2a28;
}
.section-our-company__info-page-play {
  max-width: 140px;
  left: 58%;
  top: 160px;
  z-index: 20;
  position: absolute;
}
.section-our-company__info-page-play-link {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
.section-our-company__info-page-director-img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translate(-50%);
}
.section-our-company__flex-page {
  margin-top: 195px;
}
.section-our-company__flex-page-items-block-title {
  padding-bottom: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 30px;
  color: #cb8734;
  border-bottom: 3px solid #cb8734;
}
.section-our-company__flex-page-items-block-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #2b2a28;
}

.section-clever-houses {
  padding-bottom: 145px;
  background: #fffbf7;
}
.section-clever-houses__flex {
  margin-top: 145px;
}
.section-clever-houses__flex-h2 {
  max-width: 467px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2b2a28;
}
.section-clever-houses__flex-content-items-card-active {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px !important;
}
.section-clever-houses__flex-content-items-texts > p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #2b2a28;
}
.section-clever-houses__flex-content-items-texts > p::before {
  content: url(../assets/vector-texts.svg);
  padding-right: 15px;
}
.section-clever-houses__flex-content-items-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #2b2a28;
}

.section-latest-articles {
  padding-bottom: 148px;
}
.section-latest-articles__flex-group-card-active {
  margin-top: 148px;
}
.section-latest-articles__flex-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2b2a28;
}
.section-latest-articles__flex-items {
  position: relative;
  border: none !important;
}
.section-latest-articles__flex-items-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2b2a28;
}
.section-latest-articles__flex-items-title-active {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2b2a28;
}
.section-latest-articles__flex-items-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #2b2a28;
}
.section-latest-articles__flex-items-link-btn {
  display: inline-block;
  position: absolute;
  padding: 12px 20px;
  top: 20px;
  left: 20px;
  background: #cb8734;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.section-latest-articles__flex-header-pagination-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #cb8734;
}
.section-latest-articles__flex-header-pagination-link::before {
  content: url(../assets/arrow.svg);
  padding-right: 11px;
}
.section-latest-articles__flex-header-pagination-link::after {
  content: url(../assets/arrow-right.svg);
  padding-left: 11px;
}

.section-hero__flex-left-page-block-btn, .section-production__flex-banner-content-btn, .section-our-company__flex-page-btn {
  display: inline-block;
  padding: 26px 45px 20px 45px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

.footer-section__link {
  display: inline-block;
  padding: 16px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: sans-serif;
}

.container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=general.css.map */