.wrapper-header {
  padding-top: 40px;
  max-height: 970px;
  background: #fffbf7;
}
.section-hero {
  &__flex {
    &-left-page {
      margin-top: 120px;
      &-title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 50px;
        color: #2b2a28;
      }
      &-subtitle {
        max-width: 502px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2b2a28;
      }
      &-block {
        &-btn {
          @extend %btn;
        }
      }
      &-catalog {
        &-circle {
          cursor: pointer;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 30px;
          border: 1.5px solid #cb8734;
        }
        &-text {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #cb8734;
        }
      }
    }
  }
  &__img {
    background-image: url(../assets/house.png);
    min-height: 506px;
    background-repeat: no-repeat;
    background-position-x: 30px;
  }
}
.section-services {
  position: relative;
  margin-top: -219px;
  &__flex {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    margin-top: 74px;
    &-h2 {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 58px;
      color: #2b2a28;
    }
    &-col {
      &-title {
        margin-top: 21px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        & > span {
          display: block;
          margin-top: 7px;
          font-weight: 300;
          font-size: 15px;
          line-height: 30px;
          color: black;
        }
        &-extra-0 {
          max-width: 171px;
        }
        &-extra-1 {
          max-width: 220px;
        }
        &-extra-2 {
          max-width: 236px;
        }
        &-extra-3 {
          max-width: 261px;
        }
      }
    }
  }
}
.section-projects {
  background-image: url(../assets/background-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 270px;
  background-position-y: 190px;
  &__flex {
    margin-top: 145px;
    &-card-group {
      max-width: 780px;
      &-active {
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
        border-radius: 0px 40px 0px 0px !important;
        &-link-circle {
          cursor: pointer;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 30px;
          border: 1.5px solid #cb8734;
        }
        &-link-text {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 16px;
          color: #cb8734;
        }
        &-title {
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 30px;
          color: #2b2a28;
        }
        &-subtitle {
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 28px;
          color: #2b2a28;
        }
      }
    }
  }
}
.section-production {
  background: #fffbf7;
  margin-top: 145px;
  padding-bottom: 145px;
  &__flex {
    margin-top: 145px;
    max-width: 1170px;
    &-item {
      min-height: 384px;
      position: relative;
      padding: 42px 39px 50px 46px;
      background: #ffffff;
      border-radius: 8px;
      &-img-numbers {
        position: absolute;
        right: 10px;
        bottom: 30px;
      }
      & > img {
        position: absolute;
      }
      &-img-1 {
        top: -60px;
        right: -5px;
      }
      &-img-2 {
        top: -60px;
        right: 10px;
      }
      &-img-3 {
        top: -15px;
        right: 25px;
      }
      &-img-4 {
        top: -55px;
        right: 10px;
      }
      &-title {
        max-width: 372px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: #2b2a28;
      }
      &-subtitle {
        margin-top: 25px;
        max-width: 485px;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        color: #2b2a28;
      }
    }
    &-title {
      max-width: 392px;
      margin-bottom: 58px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #2b2a28;
    }
    &-banner-content {
      &-btn {
        @extend %btn;
      }
    }
    &-banner-content-link-circle {
      cursor: pointer;
      width: 30px;
      border-radius: 50%;
      height: 30px;
      border: 1.5px solid #cb8734;
    }
  }
}
.section-our-company {
  padding-bottom: 147px;
  background-image: url(../assets/map-1.png),
  url(../assets/map-2.png);
  background-position: right top, left bottom;
  background-size: 33%;
  background-repeat: no-repeat;
  &__info-page {
    margin-top: 145px;
    position: relative;
    &-director {
      position: relative;
      min-height: 420px;
      background-repeat: no-repeat;
      background-image: url(../assets/fon-director.png);
      &-info {
        &-flex {
          max-width: 570px;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          top: 324px;
          padding: 38px 51px 35px 43px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
          border-radius: 8px;
          &-block-title {
            max-width: 400px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            color: #2b2a28;
          }
          &-block-text {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #2b2a28;
          }
        }
      }
    }
    &-title {
      margin-bottom: 67px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #2b2a28;
    }
    &-play {
      max-width: 140px;
      left: 58%;
      top: 160px;
      z-index: 20;
      position: absolute;
      &-link {
        text-decoration: none;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
      }
    }
    &-director-img {
      position: absolute;
      top: -75px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__flex-page {
    margin-top: 195px;
    &-btn{
      @extend %btn;
    }
    &-items {
      &-block {
        &-title {
          padding-bottom: 29px;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;
          line-height: 30px;
          color: #cb8734;
          border-bottom: 3px solid #CB8734;
        }
        &-subtitle {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 30px;
          color: #2b2a28;
        }
      }
    }
  }
}
