@import './_fonts';
@import './_footer';
@import './_header';
@import './_main';
@import './_variables';
@import './_visually-hidden';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: sans-serif;
  }
  .container{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
